* {
  font-family: "Lato";
  background-color: lavender;
}

span {
  color: blue;
  font-style: italic;
}

#part1 > p {
  color: red;
}

#part1 > ul {
  color: purple;
}

.accent {
  font-weight: bold;
  text-transform: uppercase;
}