* {
  font-family: "Lato";
  background-color: lavender;
}

span {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

/* Part 1 */

#part1 > p {
  color: red;
}

#part1 > ul {
  color: purple;
}

.accent {
  font-weight: bold;
  text-transform: uppercase;
}


/* Part 2 */

#part2 > img {
  border: 2px solid red;
}

section > img {
  border: 2px blue solid;
  margin: 0 20px;
}

#part2 > section ~ p {
  color: green;

}

/* Part 3 */

#part3 > ul {
  border: blue 2px dashed;
}

/* Part 4 */

#part4 > ul li ul li {
  color: red;
}

#part4 > p ~ p  p ~p {
  color: hotpink;
}