* {
  font-family: "Lato";
  background-color: lavender;
}

span {
  color: blue;
  font-style: italic;
  font-weight: bold;
}

#part1 > p {
  color: red;
}

#part1 > ul {
  color: purple;
}

.accent {
  font-weight: bold;
  text-transform: uppercase;
}

#part2 > img {
  border: 2px solid red;
}

section > img {
  border: 2px blue solid;
  margin: 0 20px;
}

#part2 > p {
  color: green;

}