body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #F0F0F0;
}

/* Your code here */

.heading {
    background-color: gold;
    padding: 30px;
    width: 100%;
}

section {
    background-color: white;
    border: gray solid 1px;
    padding: 0 10px 25px;
}

.photos {
    display: flex;
}